table{text-align:center;width:100%;margin-top:20px;}
td{font-family:Arial,sans-serif;}

div.logo{width:100%;text-align:left;}

img{border-width:0;}

a:hover{text-decoration:underline;color:red;background:transparent;}
a{text-decoration:none;color:navy;background:transparent}
